.LandingPage {
  background: url("../../images/landing-page1.png") no-repeat center fixed;
  display: flex;
  height: -webkit-fill-available;
  flex-direction: column;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20% 10%;
}

.LandingPage__title {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 50px;
  margin: 0;
}

.LandingPage__desc {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
  background-color: #00000030;
  padding: 20px;
  border-radius: 10px;
}

.LandingPage__button {
  font-size: 12px;
  padding: 5px;
  color: #edf2f4;
  font-family: "Fjalla One", sans-serif;
  text-decoration: none;
  background-color: #161925;
  border: 1px solid #161925;
  border-radius: 5px;
}

.LandingPage__button:hover {
  background-color: #23395b;
  border: 1px solid #23395b;
  text-decoration: underline;
  text-decoration-color: #cf5de3;
}
.LandingPage__btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
