.LandingPage {
  background-image: url("../../images/landing-page2.svg");
  background-color: #161925;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: white;
  text-align: center;
  height: calc(100vh - 61.6px);
  padding: 15% 20%;
}

.LandingPage__title {
  font-family: "Comfortaa", cursive;
  font-size: 50px;
  padding-bottom: 50px;
  margin: 0;
}

.LandingPage__desc {
  font-family: "Abel", sans-serif;
  color: white;
  font-size: 16px;
  background-color: #00000030;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6); */
}

.LandingPage__button {
  padding: 15px;
  color: #edf2f4;
  font-family: "Fjalla One", sans-serif;
  text-decoration: none;
  background-color: #161925;
  border: 1px solid #161925;
  border-radius: 20px;
}

.LandingPage__button:hover {
  background-color: #23395b;
  border: 1px solid #23395b;
  text-decoration: underline;
}
.LandingPage__btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
