.LandingPage {
  background: black;
  color: white;
  text-align: center;
  height: calc(100vh - 60px);
}

.LandingPage__title {
  padding: 15px;
}

.LandingPage__button {
  background-color: white;
}
