* {
  box-sizing: border-box;
}

.Appointments {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  min-width: 320px;
}

.Appointments__date {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}
.form-section {
  padding: 5px;
}

.Appointments__main {
  display: flex;
  justify-content: center;
}
.Appointments__main_appt {
  border: 2px solid black;
  padding: 10px;
  margin: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.display-modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50%;
  margin: 15% auto;
  text-align: center;
  padding: 20px;
}

.modal-close {
  align-self: flex-end;
  margin: 0;
  font-size: 18px;
}
