.SignUpForm__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 18px;
}

.SignUpForm__form {
  background-color: #23395b;
  border-radius: 5px;
  flex-direction: column;
  padding: 30px 30px 0 30px;
}

.SignUpForm__main {
  display: flex;
  justify-content: center;
}

.SignUpForm__title {
  margin: 0;
  font-family: "Fjalla One", sans-serif;
  font-weight: 100;
  padding: 20px;
  color: #edf2f4;
  text-align: center;
}

.SignUpForm__form > button {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 20px auto;
  padding: 5px 15px;
  background-color: #edf2f4;
  color: #161925;
  border: 0;
  border-radius: 3px;
}

.SignUpForm__form > button:hover {
  background-color: #8ea8c3;
}
.SignUpForm__label {
  color: #edf2f4;
}

.SignUpForm__input {
  font-size: 16px;
  margin: 0 10px;
  padding: 3px 5px;
  border: 0;
  border-radius: 3px;
}

@media screen and (max-width: 400px) {
  .SignUpForm__section {
    flex-direction: column;
  }
  .SignUpForm__label {
    padding-bottom: 10px;
  }
}
