.Nav__section {
  color: #edf2f4;
  font-family: "Comfortaa", sans-serif;
  text-decoration: none;
}

.Nav {
  display: flex;
  background-color: #161925;
  justify-content: space-between;
  padding: 20px;
}

.register,
.login,
.logout {
  padding: 0 10px;
  color: #edf2f4;
  text-decoration: none;
}

.register:hover,
.login:hover,
.logout:hover,
.Nav_underline:hover {
  text-decoration: underline;
  text-decoration-color: #cf5de3;
}
