.Nav__section {
  color: #edf2f4;
  font-family: "Comfortaa", sans-serif;
  text-decoration: none;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161925;
  padding: 10px;
}

.Nav__logo {
  display: contents;
}

.register,
.login,
.logout {
  padding: 0 10px;
  color: #edf2f4;
  text-decoration: none;
}

.register:hover,
.login:hover,
.logout:hover,
.Nav_underline:hover {
  text-decoration: underline;
  text-decoration-color: #cf5de3;
}

.logo {
  height: 40px;
}

@media screen and (max-width: 350px) {
  .Nav__section {
    font-size: 12px;
  }
  .logo {
    height: 20px;
  }
}
