.Schedules__header {
  display: flex;
  background-color: #23395b;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}

.new_schedule {
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #edf2f4;
}
